.toDoList {
  // min-height: 800px;
  box-sizing: border-box;
  width: 60%;
  min-height: auto;
  // margin: 30px;
  border: 3px solid black;
  padding: 0px 30px 30px 30px;
  border-radius: 5px;
  box-shadow: 3px -3px 2px 0px black inset;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  // box-shadow: $a $b $c $d;
  // $a = LEFT
  // $b = TOP
  // $c = BLUR LEVEL
  // $d = LEFT, TOP, RIGHT, BOTTOM (ALL SIDE)
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 4px solid red;
}

.btn {
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 13px 15px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  width: 150px;
}

.btnForm {
  @extend .btn;
  background-color: black;
  margin-left: 0px;
}

.addTask-form {
  margin-bottom: 40px;
  // border: 4px solid coral;

  .addTask-control {
    // border: 4px solid blue;

    label {
      display: block;
      font-size: 25px;
      font-weight: 700;
      // border: 4px solid blueviolet;
      margin-bottom: 10px;
    }

    input {
      height: 40px;
      width: 100%;
      font-size: 17px;
      // // border: 4px solid green;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    &.checkboxGroup {
      // border: 4px solid red;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      label {
        width: 50%;
      }

      input {
        width: 50%;
        transform: scale(0.7);
      }
    }

    &.radioGroup {
      // border: 4px solid rgb(255, 0, 208);
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title {
        font-size: 25px;
      }

      .halfContainer {
        width: 50%;
        display: flex;
        // border: 4px solid rgb(0, 255, 238);
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        width: 50%;

        .radioLabelGroup {
          display: flex;
          // border: 4px solid rgb(0, 255, 238);
          justify-content: flex-start;

          label {
            margin: auto;
            // border: 4px solid rgb(0, 255, 51);
            font-size: 14px;
            font-weight: 500;
            white-space: nowrap;
          }

          input {
            margin: 0px 10px 0px 0px;
            transform: scale(2);
          }
        }
      }
    }
  }
}

.categories {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  // border: 4px solid red;
  display: flex;
  justify-content: center;

  .important {
    // border: 4px solid green;
    margin: 5px;
    cursor: pointer;
    opacity: 50%;

    .darkRed {
      width: 20px;
      height: 20px;
      background-color: darkred;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -10px;
    }
  }

  .important-active {
    // border: 4px solid green;
    @extend .important;
    // border: 4px solid red;
    font-weight: 700;
    opacity: 100%;
  }

  .notImportant {
    // border: 4px solid green;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba($color: grey, $alpha: 0.5);
    border-right: 1px solid rgba($color: grey, $alpha: 0.5);
    cursor: pointer;
    opacity: 50%;

    .darkGreen {
      width: 20px;
      height: 20px;
      background-color: darkgreen;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -10px;
    }
  }

  .notImportant-active {
    // border: 4px solid green;
    @extend .notImportant;
    // border: 4px solid red;
    font-weight: 700;
    opacity: 100%;
  }

  .neutral {
    // border: 4px solid green;
    margin: 5px;
    cursor: pointer;
    opacity: 50%;

    .darkBlue {
      width: 20px;
      height: 20px;
      background-color: darkblue;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -10px;
    }
  }

  .neutral-active {
    // border: 4px solid green;
    @extend .neutral;
    // border: 4px solid red;
    font-weight: 700;
    opacity: 100%;
  }
}

.listTask {
  margin: 5px;
  // border: 4px solid rgb(0, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    width: 200px;
    // height: auto;
    // height: 300px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px 0px black;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 0px;
    // border: 4px solid blueviolet;
    display: flex;
    flex-direction: column;

    .buttonElement {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5px;
      // border: 4px solid rgb(0, 208, 255);

      .btnBadgeCard {
        margin: 3px;
        padding: 0px;
        background-color: black;
        color: white;
        padding: 1px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.edit {
          background-color: rgb(181, 158, 27);
          color: black;
          font-size: 15px;
        }

        &.delete {
          background-color: rgb(170, 30, 30);
          color: black;
        }
      }
    }

    .title {
      text-align: center;
      // border: 4px solid yellowgreen;
      margin-top: 0px;
    }

    .description {
      // border: 4px solid red;
      border-radius: 5px;
      margin-top: -10px;
    }

    .bottomElement {
      display: flex;
      // border: 4px solid blue;
      // to make it go to the bottom of the card
      margin-top: auto;

      .dayTag {
        // display: flex;
        border-radius: 10px;
        //align-self: flex-end;
        background-color: black;
        color: white;
        margin: 5px;
        padding: 4px 8px 3px 4px;
        font-size: 10px;
      }
    }
  }
}

.editTask {
  display: flex;
  // border: 1px solid rgb(170, 30, 30);
  flex-direction: column;

  .headingTitle {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 5px;
  }

  .editTask-form {
    margin-bottom: 40px;
    // border: 4px solid coral;

    .editTask-control {
      // border: 4px solid blue;

      label {
        display: block;
        font-size: 25px;
        font-weight: 700;
        // border: 4px solid blueviolet;
        margin-bottom: 10px;
      }

      input {
        height: 40px;
        width: 100%;
        font-size: 17px;
        // // border: 4px solid green;
        box-sizing: border-box;
        margin-bottom: 10px;
      }

      &.checkboxGroup {
        // border: 4px solid red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        label {
          width: 50%;
        }

        input {
          width: 50%;
          transform: scale(0.7);
        }
      }

      &.radioGroup {
        // border: 4px solid rgb(255, 0, 208);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .title {
          font-size: 25px;
        }

        .halfContainer {
          width: 50%;
          display: flex;
          // border: 4px solid rgb(0, 255, 238);
          flex-direction: row;
          justify-content: space-evenly;
          height: 100%;
          width: 50%;

          .radioLabelGroup {
            display: flex;
            // border: 4px solid rgb(0, 255, 238);
            justify-content: flex-start;
            margin: 3px;

            label {
              margin: auto;
              // border: 4px solid rgb(0, 255, 51);
              font-size: 14px;
              font-weight: 500;
              white-space: nowrap;
            }

            input {
              margin: 0px 3px 0px 0px;
              transform: scale(1.4);
            }
          }
        }
      }
    }

    .action {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-top: 70px;
      margin: auto;
      text-align: center;
      // border: 4px solid red;
      box-sizing: border-box;

      input {
        border-radius: 5px;
        background-color: black;
        color: white;
        padding: auto;
      }
    }
  }
}

.modal {
  font-size: 12px;

  > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }

  > .content {
    width: 100%;
    padding: 10px 5px;
  }

  > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;

    Button {
      border-radius: 5px;
      background-color: black;
      color: white;
      padding: 7px 15px;
    }
  }

  > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 5px 8px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #000000;
    border-radius: 18px;
    border: 1px solid #000000;
    color: white;
  }
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 75%;
  padding: 40px;
  height: auto;
  border-radius: 10px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.626);
}
